/* GENERAL */
ul{
  list-style: none;
}
a{
  color: #3c3c3c;
}
h1{
  color: #797979;
}
button{
  height: 40px;
  width: 200px;
  border-radius: 3px;
  background-color: #fff;

}
button a{
  text-decoration: none;
}
p{
  margin: 0;
}
body{
  margin: 0;
  // background: url('form-background');
}
#notice{

  text-align: center;
}
#nav li{
  display: inline-block;
  text-align: center;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
     opacity: .5;
}
#nav{
  float: right;
}
#content{
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
.logo{
  width: 200px;
  margin: 0 auto 60px auto;
}
#footer{
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}
.love-vermont{
  margin: 0 auto;
  width: 30%;
  border-top: 1px solid #E0E0E0;
}
.love-vermont img{
  margin: 20px 20%;
}
.home{

}
/* GENERAL */



/* FORM */
.form{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: url('form-background.png');
}
.form-content{
  width: 40%;
  height: 360px;
}
.form-content{
  width: 40%;
  height: 360px;
  background: #fff;
  padding-top: 20px;
  margin: 12.5% auto;
  border-radius: 10px;
}
.form-content h1{
  color: #5FA7E7;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 240%;
  margin: 15px 0;
}
.form-content-project{
  width: 50%;
  height: 250px;
}
.form-bottom{
  background: #F5F5F5;
  border-top: 1px solid #E0E0E0;
  width: 100%;
  height: 70px;
  border-radius:0 0 10px 10px;
}
.form-bottom p a{
  color: #5FA7E7;
}
.form-bottom a{
  color: #868686;
}
.form-bottom p{
  margin-top: 10px;
  color: #868686;
  margin-bottom: 4px;
  font-weight: 100;
}
.input input{
  width: 80%;
  border-radius: 5px;
  border: .2px solid #e0e0e0;
}
.form-inputs{
  margin: 30px 0 0 0;
}
.form-inputs input{
  margin: 10px 0;
  height: 25px;
  padding: 5px;
  font-size: 90%;
  // border-radius: 10px;
}
.form-actions input{
  width: 82%;
  height: 40px;
  color: white;
  font-size: 90%;
  border: none;
  margin: 15px auto;
  background: url('form-btn.png') no-repeat;
  background-repeat: none;
  border-radius: 5px;
}
.form-actions{
  margin-bottom: 25px;
}
.login p{
  margin: 25px auto 2px auto;
}
/* FORM */



/* MODAL */
#modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
/* Modal Content/Box */
#modal-holder {
    background-color: #fefefe;
    left: 100px;
    margin: 15% auto 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: center;
}
/* MODAL */


/* PROJECT */
#progress-bar{
  width: 60%;
  height: 15px;
  border: 1px solid #888;
  margin: 40px auto 40px auto;
  border-radius: 10px;
}
#progress-bar-mini{
  width: 45%;
  border-radius: 10px;
  height: 15px;
  border: 1px solid #888;
  margin: 0 auto;
  float:left;
  min-width: 285px;
}
.inner-progress-bar{
  background: #999;
  height: 15px;
  border-radius: 6px;
}
.dash{
  width: 80%;
  margin:100px auto;
}
.dash-mid{
  width: 60%
}
#step_description{
  width: 414px;
  min-height: 40px;
  font-size: 90%;
}
.create-step button{
  margin: 20px auto;
}
.create-project {
  width: 20%;
  margin: 10px auto;
  min-width: 145px;
}
#steps, #projects{
  width: 75%;
  margin: 20px auto;
}
.step{
  text-align: left;
  width: 100%;
  float:left;
  margin: 15px 0 0 0;
  min-height: 45px;
  border-bottom: .5px solid #cfcfcf;
}
.projects-header {
  text-align: left;
  padding-left: 10%;
  height: 100px;
  background: #F9F9F9;
}
.project{
  width: 100%;
  margin: 15px 0 0 0;
  min-height: 30px;
  border-bottom: .5px solid #cfcfcf;
  padding-top: 5px;
  min-width: 660px;
  text-align: center;
}
.progress-bar{
  width: 60%;
  float: left;
}
.project-title{
  width: 27%;
  float: left;
  min-width: 170px;
}
.share{
  width: 27%;
  float:right;
  min-width: 170px;
}
.title{
  float:left;
  margin:0px auto;
  height: 20px;
}
.description{
  opacity: .4;
}
.edit-step{
  float: right;
}
.break{
  height: 22px;
}
.status{
  float:right;
}
/* PROJECT */
