ul{
  list-style: none;
}
a{
  color: #3c3c3c;
}
h1{
  color: #797979;
}
button{
  height: 40px;
  width: 200px;
  border-radius: 3px;
  background-color: #fff;

}
button a{
  text-decoration: none;
}
p{
  margin: 0;
}
// table {
//     counter-reset: rowNumber;
//     tex
// }
//
// table tr {
//     counter-increment: rowNumber;
// }
// table tr td:first-child::before {
//     content: counter(rowNumber);
//     min-width: 1em;
//     margin-right: 0.5em;
// }
::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
     opacity: .5;
}
#nav{
  float: right;
}
#content{
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
#modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
/* Modal Content/Box */
#modal-holder {
    background-color: #fefefe;
    left: 100px;
    margin: 15% auto 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: center;
}
.login p{
  margin: 25px auto 2px auto;
}
#nav li{
  display: inline-block;
  text-align: center;
}
.share{
  margin: 15px auto;
}
.dash{
  // font-size: 200%;
  margin: 130px auto;
}
.logo{
  width: 200px;
  margin: 0 auto 60px auto;
}
.form-inputs{
  margin: 20px 0;
}
.form-inputs input{
  margin: 10px 0;
  width: 400px;
  height: 25px;
  padding: 5px;
  font-size: 90%;
  // border-radius: 10px;
}
.actions input{
  width: 200px;
  margin: 15px auto;
}

#progress-bar{
  width: 60%;
  height: 15px;
  border: 1px solid #888;
  margin: 40px auto 40px auto;
  border-radius: 10px;
}
.inner-progress-bar{
  background: #999;
  height: 15px;
  border-radius: 6px;
}
.dash{
  width: 80%;
  margin:40px auto;
}
.dash-mid{
  width: 60%
}
.dash-title, .dash-share{
  width: 20%;

}
#step_description{
  width: 414px;
  min-height: 40px;
  font-size: 90%;
}
.create-step button{
  margin: 20px auto;
}
#steps{
  width: 75%;
  margin: 20px auto;
  border: .5px ;
}
.step{
  text-align: left;
  width: 100%;
  float:left;
  margin: 15px 0 0 0;
  min-height: 45px;
  border-bottom: .5px solid #cfcfcf;
}
.title{
  float:left;
  margin:0px auto;
  height: 20px;
}
.description{
  opacity: .4;
  // float: left;
  //
  // margin: 10px auto;
  // width: 70%;
}
.edit-step{
  float: right;
}
.break{
  height: 22px;
}
.status{
  float:right;
}
