<div id="footer">
  <div class="love-vermont">
    <p>Created with
      <span class="heart"><%= image_tag('heart.svg') %></span>
    from Vermont</p>
    <%# image_tag('vermont-blue.png') %>
  </div>
</div>
